


form {
   
    margin-top: auto; 
    margin-bottom: 0.2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0rem 1rem 1rem 1rem;
    display:flex;
    align-items: center;
    justify-content: center;
    border-left: 3px solid aqua;
    border-right: 3px solid rgb(206, 235, 81);
    border-bottom: 3px solid rgb(206, 235, 81);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  
  }

  form textarea {
    
    width:100%;
    resize: none;
    margin-left: auto;
    font-size: 1.2rem;
    padding-left: 0.5rem;
    padding-right: 3rem;
    background-color: transparent;
    color: rgb(208, 231, 145);
 
    border: 3px solid rgb(206, 235, 81);
    box-shadow: 0px 0px 20px  rgb(206, 235, 81);
    border-radius: 1rem;
    position: relative;
    overflow: hidden;



   
  }

  form button {
    background-color: transparent;
    color: rgb(208, 231, 145);
    border: none;
    margin-right: 1rem;
    position: absolute;
    right:1.6rem;
    text-shadow: 0px 0px 20px aqua;
  
  }



  @media (max-width: 600px) {

    form{
      margin-left: 0.2rem;
      margin-right: 0.2rem;
      padding: 0rem 0.2rem 0.2rem 0.2rem;
    }

    form textarea {
      font-size: 0.8rem;
      margin-right: 0.2rem;
      padding-right: 2rem;
    }

    form button {
      background-color: transparent;
      color: rgb(208, 231, 145);
      border: none;
      margin-right: 1rem;
      position: absolute;
      right:0.2rem;
    }
  
    
  }